// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  padding-left: 62px;
  padding-right: 960px;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
  background-color: #FA9A4C;
  margin-right: 16px;
  padding-left: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.sml_box {
  border-top: 3px solid #85FF85;
  margin-right: 16px;
  padding-left: 16px;
  padding: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}